body {
    font-family: 'Press Start 2P', cursive;
    background-color: #ffffea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-rendering: optimizeLegibility;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
}

.content {
    display: flex;
    align-items: center;
}

.image img {
    width: 150px;
    height: 150px;
}

.text {
    margin-left: 20px;
}

h1 {
    font-size: 24px;
    line-height: 1.5;
    color: #212121;
}

p {
    font-size: 14px;
    color: #212121;
    line-height: 1.5;
}

a {
    color: #1a84ff;
    text-decoration: none;
}